<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bem vindo ao SOA UFBA</h1>

  <h2>
    O seu sistema web de pré-matrícula e orientação acadêmica para os cursos de computação!
  </h2>

  <%= link_to "Entre agora!", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>