<% provide(:title, "Criar Departamento") %>
<div class="panel panel-info">
	<div class="panel-heading text-center">
		<h1>Novo Departmento</h1>
	</div>
	<div class="panel-body">

		<%= render 'form' %>
	</div>
</div>
<div class="well well-sm text-center">
	<%= link_to 'Voltar', departments_path, class:'btn btn-primary' %>
</div>