<footer class="footer">
  <nav class="navbar navbar-default navbar-static-bottom">
      <small> The Software Engennie I - Max, Victor, Arley.
      </small>
      <nav>
        <ul>
          <li><%= link_to "Sobre",   about_path %></li>
          <li><%= link_to "Contato", contact_path %></li>
          <li><%= link_to "News", news_path %></li>
          <li><%= link_to "Ajuda",   help_path %></li>
        </ul>
      </nav>
  </nav>
</footer>